# Variables de entorno sensibles
.env

# Entornos virtuales y caché
.venv/
__pycache__/
*.pyc
.idea/

# Archivos de notas y estructura personal
estructura.txt
pendientes.txt

# Bases de datos locales
*.db
*.sqlite3
tarjeta_sanitaria.db